#ventilador{
margin:10px;
width:1px;
height:1px;
border-bottom:140px solid red;
border-left:50px solid transparent;
border-right:50px solid transparent;
}

#ventilador:before{
content:"";
display:block;
width:1px;
height:1px;
border-top:45px solid red;
border-left:60px solid transparent;
border-right:60px solid transparent;
position:relative;
top:45px;
left:-60px;
}

#ventilador:after{
content:"";
display:block;
width:1px;
height:1px;
border-bottom:50px solid white /*el color de fondo*/;
border-left:75px solid transparent;
border-right:75px solid transparent;
position:relative;
top:46px;
left:-75px;
}